:root {
  --red: #800000;
  --darkRed: #340000;
  --black: #000000;
  --hotRed: #ff2b2b;
  --darkGray: #333;
}

#loadingSkullIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border-top: 16px solid var(--darkRed);
  border-right: 16px solid rgba(0, 0, 0, 0);
  border-bottom: 16px solid var(--red);
  border-left: 16px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loaderDiv {
  display: none;
  text-align: center;
}

.NavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkGray);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.NavLi {
  float: left;
}

.NavLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Russo One";
}

.NavLi a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: var(--red);
}

.HamburgerMenu {
  position: fixed;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkGray);
  width: 100%;
  z-index: 10;
}

.HamburgerIcon {
  font-size: x-large;
  cursor: pointer;
  float: left;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .NavUl {
    display: none;
  }

  .HamburgerMenu {
    display: block;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@import "variables";
@import "scaffolding";

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 500px;
  color: #000;
  font-size: 24px;
}
#root {
  display: flex;
  width: fit-content;
}
#wrapper {
  overflow-x: auto;
  section {
    width: 500px;
  }
}

#wrapper-mandatory {
  overflow-y: auto;
  height: 600px;
}

#root-mandatory {
  height: fit-content;
}

.stickyDiv {
  color: red;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  float: left;
  width: 40%;
  padding: 5%;
}

.stickyDivRight {
  float: right;
  width: 50%;
}

.stickyBox {
  width: 90%;
  padding: 5%;
  color: white;
  font-family: "Russo One";
  font-size: 2vw;
  word-break: break-all;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2%;
  color: white;
  font-family: "Russo One";
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.stickyContainer {
  display: inline-block;
  width: 100%;
}

.title {
  top: 50%;
  bottom: 50%;
  font-family: "Russo One";
  font-size: 10vw;
  float: center;
  margin: 0;
  text-align: left;
}
.stickyNumber {
  top: 0;
  font-family: "Russo One";
  font-size: 10vw;
  margin: 0;
  text-align: left;
  position: sticky;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

h1 {
  font-size: 4vw;
  font-family: "Russo One";
  color: white;
  margin: 0;
}

.doubleColumn {
  float: left;
  width: 40%;
  padding: 10px;
}

/* Clear floats after the columns */
.doubleRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .doubleColumn {
    width: 100%;
  }
}

button, input, label {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px; /* For button */
  padding: 8px 10px; /* For input */
  font-size: 16px; /* For button */
  font-size: 26px; /* For input */
  font-family: "Russo One"; 
  vertical-align: middle; /* Align vertically */
  outline: none;
}


button:hover {
  background-color: var(--red);
  box-shadow: #000;
}

#list-container {
  height: 300px; /* Set a fixed height for the list container */
  overflow: auto; /* Make the list scrollable */
  padding: 10px; /* Add padding for spacing */
  color: white;
  font-family: "Russo One";
  border: 3px solid var(--red); /* Add border for better visibility */
}

#list {
  list-style-type: none;
}

#thanks-message {
  color: white;
  font-family: "Russo One";
  font-size: 26px
}

.oathInfo {
  color: white;
  font-family: "Russo One";
  font-size: 26px
}

p{
  color: white;
  font-family: "Russo One";
  font-size: 20px
}